<div class="nav-bg-color" style="background-color: #e3f2fd;">
    <nav class="navbar navbar-expand-md navbar-light nav-width-control">
        <a class="navbar-brand spot-bay-font" href="/">Spot Bay</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <form class="form-inline login my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="email" id="email-login" placeholder="Email">
                        <input class="form-control mr-sm-2" type="password" id="password-login" placeholder="Password">
                        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Login In</button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div class="container content-width-control">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 border-div">
            <h1 class="content-title">The Spot Bay</h1>
            <h2 class="content-item"><i class="fas fa-map-marked-alt icon-color"></i>&nbsp;&nbsp;&nbsp;Find cool spots to take photos</h2>
            <h2 class="content-item"><i class="fas fa-map-pin icon-color"></i>&nbsp;&nbsp;&nbsp;Share your favorite photo spots</h2>
            <h2 class="content-item"><i class="fas fa-globe-americas icon-color"></i>&nbsp;&nbsp;&nbsp;Explore new places</h2>
        </div>
        <div class="col-md-6 col-md-offset-3 signup-div">
            <h2 class="content-title">Sign Up!</h2>
            <form class="signup">
                <div class="form-group">
                    <label for="first">First name</label>
                    <input type="text" class="form-control" id="firstName-input" placeholder="First name">
                </div>
                <div class="form-group">
                    <label for="last">Last name</label>
                    <input type="text" class="form-control" id="lastName-input" placeholder="Last name">
                </div>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="email-input" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password-input" placeholder="Password">
                </div>
                <div style="display: none" id="alert" class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span> <span class="msg"></span>
                </div>
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </form>
            <br>
        </div>
    </div>
</div>
<link href="./stylesheets/landing.css" rel="stylesheet">
<script type="text/javascript" src="./js/landing.js"></script>
