<form id="spot" action="/api/upload" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <img id="placeholder" src="#" alt="uploaded image" style="display: none">
        <input type="file" accept="image/*" name="photo" id="file-input" class="form-control-file" onchange="displayImage(this);">
    </div>
    <div class="form-group">
        <label for="first">Location</label>
        <input type="text" class="form-control" id="location-input" data-lat="" data-long="" placeholder="Location">
        <a id="location-button" class="btn btn-primary">Get Location</a>
    </div>
    <div class="form-group">
        <label for="tod">Select time(s) of day to best take photo</label>
        <select multiple class="form-control" id="tod-input">
            <option>Sunrise</option>
            <option>Day</option>
            <option>Sunset</option>
            <option>Evening</option>
        </select>
    </div>
    <div class="form-group">
        <label for="type">Select location type(s)</label>
        <select multiple class="form-control" id="type-input">
            <option>Historical</option>
            <option>Vista</option>
            <option>Trendy</option>
            <option>Street Art</option>
            <option>Nature</option>
        </select>
    </div>
    <div class="form-group">
        <label for="description">Provide a brief description (120 characters)</label>
        <textarea class="form-control" id="description-input" rows="2"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<script>
    function initLocation() {
        var input = document.getElementById('location-input');
        var autocomplete = new google.maps.places.Autocomplete(input);
    }
</script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCl4fhRdyH3wpy2j9MQ9YBt6NVzea67eD4&libraries=places&callback=initLocation"></script>
<script>
    var geocoder = new google.maps.Geocoder();

    function displayImage(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#placeholder')
                    .attr('src', e.target.result)
                    .css("display", "block")
                    .width(150)
                    .height(200);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }

    google.maps.event.addDomListener(window, 'load', initLocation);

    $(document).ready(function() {  
        var locationButton = $("#location-button");
        var locationInput = $("#location-input");

        var spotForm = $("form#spot");
        var historical = false;
        var vista = false;
        var trendy = false;
        var streetArt = false;
        var nature = false;

        //get location data on location button click, insert location data into field, and update location data-long and data-lat
        locationButton.on("click", function(){
            locationInput.attr("placeholder", "Getting location, please wait..");
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position) {
                    var lat = position.coords.latitude;
                    var long = position.coords.longitude;
                    locationInput.val("Latitude: " + lat + ", Longitude: " + long);
                    locationInput.attr({"data-lat": lat, "data-long": long});
                    console.log("hello");
                });
            } else { 
                x.innerHTML = "Geolocation is not supported by this browser.";
            }
        });

        spotForm.on("submit", function(event) {
            event.preventDefault();

            geocoder.geocode({address: locationInput.val()}, function(results, status) {
                if (status === 'OK') {
                    console.log(results[0].geometry.location.lat());
                    console.log(results[0].geometry.location.lng());
                } else {
                    alert('Geocode was not successful for the following reason: ' + status);
                }
            });

            /*
            var locations = [];
            $.each($("select#type-input option:selected"), function(){            
                locations.push($(this).val());
            });

            if (locations.indexOf("Historical") != -1) {
                historical = true;
            };
            if (locations.indexOf("Vista") != -1) {
                vista = true;
            };
            if (locations.indexOf("Treny") != -1) {
                trendy = true;
            };
            if (locations.indexOf("Street Art") != -1) {
                streetArt = true;
            };
            if (locations.indexOf("Nature") != -1) {
                nature = true;
            };

            var tods = [];
            $.each($("select#tod-input option:selected"), function(){            
                tods.push($(this).val());
            });

            var formData = new FormData();  

            formData.append('tod', tods);
            formData.append('historical', historical);
            formData.append('vista', vista);
            formData.append('trendy', trendy);
            formData.append('street_art', streetArt);
            formData.append('nature', nature);
            formData.append('description', $("textarea#description-input").val().trim());
            formData.append('photo', $("input#file-input")[0].files[0]);

            $.ajax({
                type: 'POST',
                url: '/api/upload',
                data: formData,
                processData: false,
                contentType: false,
                success: function(data){
                    document.getElementById("spot").reset();
                    $("#placeholder").css("display", "none");
                    alert(data);
                }
            });*/
        }); 
    });
</script>