/* Global Styles 
---------------------------------------------*/
    body {
        padding: 0;
        margin: 0;
    }
    html, body {
        height: 100%;
        width: 100%;
    }

/* Modal Styles 
---------------------------------------------*/
    .pac-container {
        z-index: 1051 !important;
    }

/* Map Styles 
---------------------------------------------*/
    #mapid {
        height: 100%;
        width: 100%;
    }

    #spots-div {
        float: right;
    }